@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", "sans-serif";
  background: linear-gradient(
    91deg,
    #280a33 0.63%,
    #000 49.91%,
    #000 62.74%,
    #2d2753 99.19%
  );
}

@layer components {
  .nav {
    @apply flex w-[1440px] justify-between items-start pt-10 pb-6 px-20;
  }
  .nav__logo {
    @apply  w-[150px] h-[39.725px] shrink-0;
  }
  .menu-list {
    @apply flex justify-end items-start gap-10;
  }
  .get-touch-btn {
    @apply flex justify-center items-center gap-2.5 rounded px-6 py-2 border-[0.5px] border-solid border-[#2F50DA];
  }


  /* footer */
  .footer {
    @apply flex flex-col justify-center items-center gap-10 p-20;
  background: rgba(255, 255, 255, 0.06);
  }
  .social-icon{
    @apply w-[25px] h-[25px];
  }
  .social-icon-backgrnd {
    @apply w-10 h-10 shrink-0 rounded-lg;
    background: rgba(255, 255, 255, 0.08);
  }
}
